/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
*.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
/composer-require-checker.phar
/composer-unused.phar
/.php-cs-fixer.cache
/.php_cs.cache
/phpstan.neon


*.terraform
*.terraform.lock.hcl
*terraform.tfstate
*.backup
*.tfvars
*.info
